<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center>
        <nav>
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a> </li>
            <li><a href="/login">Login</a> </li>
            
        </nav>
        <h1>Welcome To Home Page</h1>
        
    </center>

    <div class="addContainer">
        <div class="addTitle">
            <p class="add-title">Add a Record Here </p>
        </div>
        <div class="addButton">
            <button class="btn-btn">
                <a class="add-btn" href="/add">ADD</a>
            </button>
        </div>

    </div>
</body>
</html>